.logout {
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

.settingsArea {
  margin: 5vh auto;
  text-align: center;
}

.settingsText {
  display: block;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 8px;
}

.settingsInput {
  display: block;
  margin: 0 auto;
}

.buttonContainer {
  text-align: center;
  margin: 15px auto;
  transform: translateX(-36px);
}

.addButton {
  position: relative;
  margin-right: 15px;
  animation: none;
  width: 72px;
  height: 28px;
}

.dark {
  background-color: rgb(40, 40, 40);
  border-left: 1px solid rgb(51, 255, 51);
}
