.aboutInfo {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

/* home page */

.homeMain {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -64%);
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
