h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  margin-top: 25px;
  margin-bottom: 5px;
}

.loader {
  font-size: 30px;
  opacity: 0.85;
  text-align: center;
}

.loader:after {
  overflow: hidden;
  display: inline-block;
  margin-top: 28vh;
  vertical-align: bottom;
  -webkit-animation: loader alternate 1.25s infinite;
  animation: loader alternate 1.25s infinite;
  animation-delay: 0.5s;
  content: ".";
  opacity: 0;
}

.item {
  width: 42vw;
  /* height: 100%; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
  margin: 0px auto;
  text-align: left;
  padding: 0px 10px 20px 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .item {
    width: 78vw;
    padding-bottom: 25px;
  }
}

@keyframes loader {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.85;
  }
}

@-webkit-keyframes loader {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.85;
  }
}
