.social {
  display: block;
  width: 200px;
  text-align: center;
  margin: auto;
  font-size: 24px;
  /* letter-spacing: 10px; */
  color: black;

  /* padding-left: 2%; */
}

.social i {
  opacity: 0.7;
  margin-left: 0.5rem;
  /* padding-right: 0.5rem; */
  padding: 0 2px 0 2px;
  /* color: black; */
  color: black;
}

.dark i {
  color: white;
}

.social i:hover {
  opacity: 1;
  cursor: pointer;
}
