#keepup_words {
    margin-top: 115px;
    margin-bottom: 15px;
}

#keepup_count {
    /* opacity: 1; */
    font-size: 18px;
    margin-bottom: 0;
}

#small_screen {
    position: absolute;
    display: none;
    font-size: 10px;
    margin: 50px 25px;
}

#keepup_score {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 150px;
    opacity: 0;
    font-size: 18px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    animation-name: none;
    animation-duration: 2.25s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

#balloon {
    position: absolute;
    left: 48.5vw;
    /* left: 42%; */
    top: 250px;
    width: 40px;
    height: auto;
    display: block;
    margin: auto;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    animation-name: wobble;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

hr {
    margin-top: 400px;
    opacity: .25;
}

@media screen and (max-width: 800px) {
    #balloon {
        left: 45vw;
    }
}

@media screen and (max-width: 360px) {
    #small_screen {
        display: block;
        opacity: 0;
    }
}

/* #keepup_wrap {
    padding-right: 12px;
} */


@keyframes wobble {
    from {
        transform: rotate(-6deg);
    }

    to {
        transform: rotate(6deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes score {
    0% { 
        opacity: 0;
    }

    50% {
        opacity: .75;
    }

    100% {
        opacity: 0;
    }
}