#adam_words {
    margin-top: 115px;
}

#adam {
    width: 250px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 75px;
    /* opacity: 1; */
}

#adam_wrap {
    padding-right: 6px;
}