#wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 350px;
  height: 400px;
  transition-property: box-shadow;
  transition-duration: 1s;
}

.alert {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 294px;
  height: 28px;
  background-color: white;
  padding: 5px 0px;
  opacity: 0.75;
  text-align: center;
  transition-property: box-shadow;
  transition-duration: 1s;
}

.alert-success {
  box-shadow: 0px 0px 4px rgba(0, 255, 0, 0.25);
  color: green;
}

.alert-err {
  box-shadow: 0px 0px 4px rgba(255, 0, 0, 0.25);
  color: red;
}

.alert p {
  display: inline-block;
  font-size: 12px;
  opacity: 1;
}

.alert i {
  position: absolute;
  left: 20px;
  top: 6px;
}

#msg {
  box-sizing: border-box;
  position: absolute;
  width: 294px;
  height: 156px;
  top: 142px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 6px;
  border: 0px;
  font-size: 14px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  resize: none;
}

#msg::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  opacity: 0.25;
}

#msg::-webkit-scrollbar {
  display: none;
}

.label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  opacity: 0.5;
}

#name-label {
  position: absolute;
  top: 49px;
  left: 34px;
  z-index: 10;
}

#name {
  top: 40px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#email-label {
  position: absolute;
  top: 101px;
  left: 36px;
  z-index: 10;
}

.input {
  box-sizing: border-box;
  width: 294px;
  height: 32px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  padding: 4px;
  padding-left: 48px;
  font-size: 14px;
}

.input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  opacity: 0.25;
}

#email {
  top: 92px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#button {
  display: block;
  margin: auto;
  outline: none;
  width: 75px;
  height: 28px;
  position: absolute;
  top: 327px;
  left: 50%;
  transform: translateX(-50%);
  border: 0px;
  background-color: white;
  opacity: 0.5;
  font-size: 12px;
}

#button:hover {
  border: 1px solid black;
  opacity: 1;
}

#button:focus {
  border: 1px solid black;
  opacity: 1;
}

#button:active {
  border: 1px solid black;
  opacity: 0.75;
}
