html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-image: url(../assets/purty_wood.png);
  background-attachment: fixed;
}

header {
  margin: 3rem 4rem 0rem 4rem;
  padding-top: 14px;
  padding-bottom: 15px;
  height: 100%;
  background-color: #3b653d;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: solid white 5px;
  text-align: center;
}

header p {
  color: white;
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

#rule-header {
  border-bottom: none;
}

.rules {
  margin: 0 5rem 2rem 5rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8rem;
  letter-spacing: 0.025rem;
}

.header-link {
  display: inline-block;
  text-decoration: underline;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  font-size: 0.8rem;
  margin: 0;
  padding: 10px 10px;
  cursor: pointer;
}

.source {
  margin: 0 5rem 2rem 5rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8rem;
  letter-spacing: 0.025rem;
  text-align: center;
  font-size: 0.8rem;
}

.source a {
  color: white;
  display: inline-block;
  width: auto;
  height: auto;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Kalam', cursive;
  font-size: 4em;
}

.container {
  margin-top: 22px;
  display: flex;
  justify-content: center;
}

.container p {
  display: inline-block;
  padding-top: 2px;
  margin: 0px 5px;
  font-size: 1rem;
  color: white;
}

.switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 50px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.chalkboard {
  display: flex;
  justify-content: center;
  margin: 0rem 4rem 5rem 4rem;
  height: 100%;
  background-color: #3b653d;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.ruleboard {
  display: none;
  margin: 0rem 4rem 5rem 4rem;
  height: 100%;
  background-color: #3b653d;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.column {
  flex: 3;
}

.players {
  width: 100%;
  text-align: center;
  border-bottom: solid white 5px;
}

#space {
  height: 96px;
  border-bottom: none;
  border-top: none;
  padding-top: 12px;
  align-items: center;
  justify-content: center;
}

img {
  width: 120px;
  height: auto;
}

.alert {
  color: white;
  margin: 15px 0 4px 15px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

#win-alert {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.win-words {
  width: 300px;
  height: 300px;
  margin: 30vh auto;
  background-color: white;
  padding-top: 70px;
  border-radius: 5px;
}

.win-words h2 {
  color: #3b653d;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.win-words p {
  color: #3b653d;
  text-align: center;
  display: block;
  padding: 15px;
  font-size: 1rem;
}

.player {
  background: none;
  font-family: 'Kalam', cursive;
  color: white;
  text-align: center;
  margin-bottom: 0.4em;
  margin-top: 25px;
  padding: 0;
}

.player-name {
  background: none;
  display: inline-block;
  font-family: 'Kalam', cursive;
  font-size: 2rem;
  color: white;
  text-align: center;
  width: 100%;
  border: none;
}

.scores {
  width: 100%;
  text-align: center;
  border-top: solid white 5px;
}

.score {
  display: inline-block;
  font-family: 'Kalam', cursive;
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 0.4em;
  margin-top: 35px;
}

.p1_chalk,
.p2_chalk {
  margin: 0;
  display: inline-block;
  font-family: 'Kalam', cursive;
  font-size: 18px;
}
.p1_chalk ul,
.p2_chalk ul {
  list-style: none;
  width: 100%;
  padding-left: 0px;
  margin-top: 0;
}
.p1_chalk ul li,
.p2_chalk ul li {
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 34px;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  height: 80px;
  margin: 0 0 0 0;
}

#sup_link {
  display: inline-block;
  color: green;
}

#sup_link:visited {
  color: black;
}

#cricket {
  display: inline-block;
  height: auto;
  width: auto;
}

.chalk {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
  height: 65px;
}

.slash {
  content: url(../assets/1slash.png);
}

.x {
  content: url(../assets/x.png);
}

.circlex {
  content: url(../assets/circlex.png);
}

.numbers {
  border-left: solid white 5px;
  border-right: solid white 5px;
  margin-right: 0;
  font-family: 'Kalam', cursive;
}
.numbers ul {
  list-style: none;
  width: 100%;
  padding-left: 0px;
}
.numbers ul li {
  text-align: center;
  font-size: 3rem;
  color: white;
  padding: 0;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 12px;
}

footer {
  clear: both;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 0.75em;
  bottom: 0;
  width: 100%;
}

footer img {
  width: 38px;
  height: auto;
}

footer p {
  color: #474747;
  margin-bottom: 25px;
}

@media (max-width: 665px) {
  .chalkboard {
    margin: 0rem 1.25rem 4rem 1.25rem;
  }
  .ruleboard {
    margin: 0rem 1.25rem 4rem 1.25rem;
  }
  header {
    margin: 3rem 1.25rem 0rem 1.25rem;
  }
  header p {
    margin-left: 14px;
    margin-right: 14px;
    font-size: 0.8rem;
  }
  .player-name {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  #rule-header {
    margin: 3rem 1.25rem 0rem 1.25rem;
    padding-bottom: 0.75rem;
  }
  .rules {
    margin: 0rem 2rem 2rem 2rem;
    font-size: 0.75rem;
  }
  .source {
    font-size: 0.6rem;
  }
  .numbers ul li {
    font-size: 2rem;
    margin-top: 28px;
    margin-bottom: 18px;
  }
  .chalk {
    margin-top: 24px;
    width: 45px;
    height: 45px;
  }
  #space {
    height: 78px;
  }
  .container {
    margin-top: 35px;
  }
  .alert {
    font-size: 1rem;
  }
  .player {
    font-size: 1.5rem;
  }
  .score {
    font-size: 2rem;
    margin-top: 20px;
  }
}
