#loading_words {
    margin-top: 275px;
    margin-bottom: 0;
    opacity: 0;
}

#loading {
    width: 75px;
    height: auto;
    display: block;
    margin: auto;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2.5s;
}

#loading_wrap {
    padding-right: 6px;
}