body {
    background: white;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 0;
    margin: 0 0;
    /* transform: rotate(180deg); */
}

p {
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2.5s;
    /* margin-top: 100px; */
    
}

.dude {
    width: 60px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 350px;
    padding-right: 8px;
}

#drift {
    position: absolute;
    transform: scaleX(-1);
    left: -75vw;
    animation-name: drift;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

#space {
    animation-name: zoom;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-delay: 1s;
}

#back {
    width: 50px;
    height: 23px;
    display: inline-block;
    margin: auto;
    margin-left: 0px;
    cursor: default;
}

#back_arrow {
    position: absolute;
    width: 40px;
    height: auto;
    opacity: .1;
    bottom: 28px;
    left: 20vw;
}

#back_arrow:hover {
    transform: translateX(-2px);
    opacity: .2;
}

#back_arrow:active {
    opacity: .4;
}

#home {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: auto;
    /* margin-left: 48px; */
    cursor: default;
}

#sup {
    width: 50px;
    height: 50px;
    display: inline-block;
    /* margin: auto; */
}

#more {
    position: absolute;
    width: 28px;
    height: auto;
    display: inline-block;
    top: 38px;
    left: 19vw;
    opacity: .1;
    /* transition-property: opacity;
    transition-duration: 2.5s; */
}

#more:hover {
    transform: translateX(2px);
    opacity: .2;
}

#more:active {
    opacity: .4;
}

#circle {
    position: absolute;
    width: 17px;
    height: auto;
    display: inline-block;
    top: 43px;
    left: 29vw;
    opacity: 0;
    transform: translateX(-28px);
    transition-property: transform, opacity;
    transition-duration: 1s, .75s;
}

#square {
    position: absolute;
    width: 17px;
    height: auto;
    display: inline-block;
    top: 43px;
    left: 36vw;
    opacity: 0;
    transform: translateX(-56px);
    transition-property: transform, opacity;
    transition-duration: 1s, .75s;
}

#note {
    position: absolute;
    width: 17px;
    height: auto;
    display: inline-block;
    top: 42px;
    left: 43vw;
    opacity: 0;
    transform: translateX(-84px);
    transition-property: transform, opacity;
    transition-duration: 1s, .75s;
}

/* #feedback {
    position: absolute;
    width: 46px;
    height: 27px;
    display: inline-block;
    cursor: default;
    top: 35px;
    right: 20vw;
    opacity: .025;
} */

#paperplane_link {
    position: absolute;
    width: 46px;
    height: auto;
    display: inline-block;
    transform: rotate(-14deg);
    top: 35px;
    right: 20vw;
    opacity: .1;
    /* transition-property: opacity;
    transition-duration: 2.5s; */
}

#paperplane_link:hover {
    transform: rotate(-14deg) translateX(2px);
    opacity: .2;
}

#paperplane_link:active {
    opacity: .4;
}

#forward {
    width: 45px;
    height: 27px;
    display: inline-block;
    margin-left: 48px;
    margin-right: 4px;
    cursor: default;
}

#forward_arrow {
    position: absolute;
    width: 42px;
    height: auto;
    opacity: .1;
    bottom: 30px;
    right: 20vw;
}

#forward_arrow:hover {
    transform: translateX(2px);
    opacity: .2;
}

#forward_arrow:active {
    opacity: .4;
}

footer {
    display: block;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    margin-left: 0;
    text-align: center;
    padding-bottom: 10px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    /* transform: rotate(180deg); */
}


@keyframes drift {
    0% {
        transform: scaleX(-1) rotate(95deg);
        left: -75vw;
    }

    25% {
        transform: scaleX(-1) rotate(-180deg);
        left: 50vw;
    }

    50% {
        transform: scaleX(-1) rotate(-420deg);
        left: 175vw;
    }

    51% {
        transform: scaleX(1) rotate(95deg);
        left: 175vw;
    }

    76% {
        transform: scaleX(1) rotate(-140deg);
        left: 50vw;
    }

    100% {
        transform: scaleX(1) rotate(-420deg);
        left: -75vw;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    45% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    90% {
        transform: scale(1);
    }
}