body {
    background: white;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 0;
    margin: 0 0;
}

p {
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 2.5s;
    margin-top: 212px;   
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

#social {
    display: block;
    width: 200px;
    text-align: center;
    margin: auto;
    font-size: 26px;
    letter-spacing: 6px;
}

#twitter {
    opacity: 1;
}

#twitter:hover {
    opacity: .75;
}

#github {
    opacity: 1;
}

#github:hover {
    opacity: .75;
}

.about-info {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

/* home page */

.dude {
    width: 125px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 62px;
    padding-right: 8px;
}

main a {
    width: 125px;
    height: 55px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
    cursor: default;
}

.home_link {
    width: 105px;
    height: auto;
    padding-left: 6px;
}

.home_link:hover {
    transform: scale(1.1);
}

/* styles for HEADER NAV elements */

#more {
    width: 28px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 38px;
    opacity: .25;
    z-index: 10;
}

#more:hover {
    transform: scale(1.1);
    opacity: .2;
}

#more:active {
    opacity: .4;
}

#circle {
    width: 20px;
    height: auto;
    display: inline-block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

#home_link {
    position: absolute;
    top: 44px;
    left: 15vw;
    display: block;
    width: 20px;
    cursor: default;
    /* background-color: blue; */

}

#square {
    width: 20px;
    height: auto;
    display: inline-block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

#projects_link {
    position: absolute;
    top: 44px;
    left: 32vw;
    display: block;
    width: 20px;
    cursor: default;
    /* background-color: green; */
}

#about {
    width: 34px;
    height: auto;
    display: inline-block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

#about_link {
    position: absolute;
    top: 36px;
    right: 33vw;
    display: block;
    width: 34px;
    cursor: default;
    /* background-color: purple; */
}

#paperplane_link {
    width: 42px;
    height: auto;
    display: inline-block;
    transform: rotate(-14deg);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

#contact_link {
    position: absolute;
    top: 40px;
    right: 15vw;
    display: block;
    width: 42px;
    cursor: default;
    /* background-color: orange; */
}

/* #paperplane_link:hover {
    transform: rotate(-14deg) translateX(2px);
    opacity: .2;
}

#paperplane_link:active {
    opacity: .4;
} */


/* END of styles for header nav */



/* styles for PROJECT PAGE elements */

#projects {
    /* margin-top: 50px; */
    height: 52vh;
    overflow: scroll;
    padding: 0;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    scrollbar-width: none;
}

#projects::-webkit-scrollbar {
    display: none;
}

#top-gradient {
    position: fixed;
    height: 50px;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
}

#bottom-gradient {
    position: sticky;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
}

#bottom-gradient::-webkit-scrollbar {
    display: none;
}

#listen {
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: rgba(0,0,0,.5);
}

h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    margin-top: 25px;
    margin-bottom: 5px;
}

.info {
    margin-top: 0;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;

}

#first {
    margin-top: 50px;
}

#hello {
    opacity: 1;
    transition-duration: 2.5s;
    transition-property: opacity;
}

.projectlist:hover {
    transform: scale(1.05);
}

/* END of project page styles */



/* FOOTER styles */

footer {
    display: block;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    margin-left: 0;
    text-align: center;
    padding-bottom: 10px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
}

#home {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: auto;
    cursor: default;
}

#sup {
    width: 50px;
    height: 50px;
    display: inline-block;
    /* margin: auto; */

}
