body {
    background: white;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 0;
    margin: 0 0;
}

p {
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 2.5s;
    margin-top: 0px;   
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    margin-bottom: 10px;
}

#social {
    display: block;
    width: 200px;
    text-align: center;
    margin: auto;
    font-size: 26px;
    letter-spacing: 6px;
}

#twitter {
    opacity: .7;
}

#twitter:hover {
    opacity: 1;
    cursor: pointer;
}

#github {
    opacity: .7;
}

#github:hover {
    opacity: 1;
    cursor: pointer;
}

.about-info {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

/* home page */

#home-main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -64%);
}

/* styles for HEADER NAV elements */

header div {
    position: fixed;
    width: 65%;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0px 10px;
    opacity: .5;
}

.nav-link:hover {
    opacity: .75;
    cursor: pointer;
}

.current-page {
    opacity: 1;
}

/* END of styles for header nav */

/* styles for PROJECT PAGE elements */

#top-gradient {
    position: fixed;
    height: 50px;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
    z-index: 10;
}

#bottom-gradient {
    position: sticky;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    z-index: 10;
}

#bottom-gradient::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: rgba(0,0,0,.5);
}

h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    margin-top: 25px;
    margin-bottom: 5px;
}

#projects-scroll {
    display: flex;
    width: 100%;
    height: 70vh;
    margin-top: 125px;
    overflow: scroll;
    scrollbar-width: none;
    z-index: 10;
}

#projects-scroll::-webkit-scrollbar {
    display: none;
}

#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 589px;
    height: 70vh;
    /* overflow: scroll; */
    padding: 0;
    /* margin-top: 125px; */
    margin-left: auto;
    margin-right: auto;
    scrollbar-width: none;
}

#projects-container::-webkit-scrollbar {
    display: none;
}

.project-card {
    box-sizing: border-box;
    position: relative;
    /* border-radius: 5px; */
    height: 250px;
    width: 250px;
    box-shadow: 0px 0px 6px rgba(0,0,0,.25);
    transition-property: box-shadow;
    transition-duration: 1s;
    margin: 16px 12px 34px 12px;
    /* padding-top: 25px; */
}

.project-card:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,.25);
}

.project-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.05);
    /* backdrop-filter: blur(1px); */
    z-index: 1;
}

.icon {
    font-size: 36px;
    color: black;
    opacity: .6;
    margin-top: 105px;
    margin-left: 58px;
}

.icon:hover {
    opacity: 1;
}

.project-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-110%);
    height: 75px;
    width: auto;
}

.project-title {
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    bottom: 102px;
    left: 50%;
    transform: translateX(-50%);
}

.tech-used {
    font-size: 10px;
    position: absolute;
    bottom: 78px;
    left: 50%;
    transform: translateX(-50%);
}

.description {
    font-size: 12px;
    position: absolute;
    bottom: 42px;
    /* margin: 5px 20px; */
    width:75%;
    left: 50%;
    transform: translateX(-50%);
}

.sub-head {
    display: block;
    position: fixed;
    /* background-color: white; */
    /* width: 100%; */
    height: auto;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.sub-nav {
    display: inline-block;
    font-size: 12px;
}

.animation-card {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.animation-card img {
    text-align: center;
    width: 350px;
    height: 350px;
    box-shadow: 0px 0px 25px rgba(0,0,0,.25);
}

.animation-title {
    font-size: 16px;
    margin-top: 36px;
}

#back {
    font-size: 26px;
    position: absolute;
    bottom: 6px;
    left: 20px;
    /* width: 40px;
    height: auto; */
    box-shadow: 0px 0px 0px rgba(0,0,0,.25);
}

#back:hover {
    transform: translateX(-5px);
}

#forward {
    font-size: 26px;
    position: absolute;
    bottom: 6px;
    right: 20px;
    /* width: 40px;
    height: auto; */
    box-shadow: 0px 0px 0px rgba(0,0,0,.25);
}

#forward:hover {
    transform: translateX(5px);
}

/* END of project page styles */


/* FOOTER styles */

footer {
    display: block;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    margin-left: 0;
    text-align: center;
    /* padding-bottom: 10px; */
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
}

#home {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: auto;
    cursor: default;
}

#sup {
    width: 45px;
    height: 45px;
    display: inline-block;
    /* margin: auto; */
}


@media screen and (max-width: 400px) {
    .animation-card img {
        width: 275px;
        height: 275px;
    }
}